@layer colorScheme {
  :root {
    --bg-accent: #3078F3;
    --fg-accent: #4048d3;
    --bg-accent-light:#a0c8ff;
    --bg-critical-warn:#ec3f37;
    --bg-body:#eff5ff;
    --fg-white:#fff;
    --fg-txt:#151515;
    --bg-section: #fff;
    --bg-navigation:#f4faffcF;
    --fg-link:#1254cf;
    --fg-link-visited:#22447f;
    --fg-link:#1254cf;
    --fg-link-visited:#22447f;
    --fg-warn:#c67810;
    --bg-scrollbar: #4f4f4f;
    --bg-backdrop:#ffffff9c;
  }
  @media (prefers-color-scheme:dark) {
    :root {

      --bg-accent: #202853;
      --bg-accent-light:#2f3a6d;
      --bg-critical-warn:#cf1f45;
      --fg-accent: #40a8F3;
      --bg-body:#151515;
      --bg-navigation:#232527DF;
      --bg-section: #232323;
      --fg-txt:#cfcfcf;
      --fg-txt-faint:#adadad;
      --fg-link:#0099ff;
      --fg-link-visited:#3275c5;
      --fg-warn:#ca8f00;
      --bg-backdrop:#0000009c;
    }
  }
  /* global and main */
  body {background-color: var(--bg-body); color: var(--fg-txt);}
  header {background-color: var(--bg-accent-light); color: var(--fg-body);}
  footer {background-color: var(--bg-accent-light); color: var(--fg-body);}
  header>h1::first-letter {color:var(--fg-accent);}
  /* clean default button style. */
  ::-webkit-scrollbar {background-color: transparent; width: 0.4em;}
  ::-webkit-scrollbar-thumb { background-color: var(--bg-scrollbar); border-radius: 0.15em;}
  button { appearance: none; color: inherit; background-color: transparent; border: none; }
  /* initialize links */
  a { text-decoration: none;}
  a:link { color: var(--fg-link); }
  a:visited { color:var(--fg-link); }
  /* attention card */
  aside.attention { color: var(--fg-warn); background-color: var(--bg-section);
    box-shadow: 0 0 0.25em 0.1em rgba(0, 0, 0, 0.2); border-left: 0.5em solid var(--fg-warn);}
  /* page navigator */
  #navigation, #navigation:modal {color:var(--fg-body); background-color: var(--bg-navigation); border:none; backdrop-filter: blur(1.5px) drop-shadow(2px 0 5px #000);}
  :is(#navigation,#navigation:modal) #nav_close { background-color: transparent; color: inherit; border: none; }
  aside.warn p { color: var(--fg-txt);}
}

@layer components {
  .scroll-wrap::-webkit-scrollbar-thumb {background-color: rgba(255,255,255,0.3) !important;}
  .notice-bar {position:relative; z-index: 9;}
  .notice-bar .summarizable { background-color: var(--bg-section);}
  .notice-bar.critical-warning .summarizable {background-color: var(--bg-critical-warn);}
  main .summarizable {background-color: var(--bg-section);}
  main .summarizable .section_title {background-color:var(--bg-section); box-shadow: 0 0.3em 0.3em 0.05em rgba(0, 0, 0, 0.3); border:solid 0.05em rgba(255,255,255,0.1);}
  .modal-overlay { opacity: 0; transition: opacity 0.2s;}
  .modal-overlay.show { background-color: var(--bg-backdrop); opacity: 1;}
  .modal-doc {background-color: var(--bg-section);
  box-shadow: 0 0 1em 1px #000;}
}